<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            width: 300px; /* Tamaño fijo para todas las cartas */
            margin-bottom: 20px;
        }
        .card img {
            height: 200px; /* Altura fija para todas las imágenes */
            object-fit: cover;
        }
    </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GalaxyMusic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear_producto' %}">Crear Producto</a> <!-- Enlace a la página de creación de productos -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                </li>
                </li>
                {% if user.is_anonymous %}
                <li><a class="nav-link" href="{% url 'mostrar_entrar' %}">Entrar</a></li>
                {% endif %}
                <li><a class="nav-link" href="{% url 'mostrar_registro' %}">Registro</a></li>
                {% if user.is_authenticated %}
                <li><a class="nav-link"  href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Fin Navbar -->

    <div class="container">
        <h1 class="mt-5 mb-4">Todos los Productos</h1>
        <div class="row">
            {% for producto in productos %}
            <div class="col-md-4">
                <a href="{% url 'detalle_producto' producto.id %}">
                    <div class="card">
                        <img src="{{ producto.foto.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">Código:{{ producto.codigo }}</p>
                            <p class="card-text">Precio: ${{ producto.precio }}</p>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-text">Stock:{{ producto.stock }}</p>
                            <div class="d-flex justify-content-end">
                                <a href="#" class="btn btn-sm btn-danger eliminar-producto" data-producto-id="{{ producto.id }}"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <!-- Agrega jQuery si no lo has hecho ya -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $(".eliminar-producto").click(function(e) {
            e.preventDefault();
            var productoId = $(this).data('producto-id');
            
            if (confirm("¿Estás seguro de que deseas eliminar este producto?")) {
                $.ajax({
                    url: '/producto/' + productoId + '/eliminar/', // URL para eliminar producto
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}', // Asegúrate de enviar el token CSRF
                    },
                    success: function(response) {
                        // Recargar la página después de la eliminación del producto
                        location.reload();
                    },
                    error: function(xhr, errmsg, err) {
                        // Maneja el error, si lo hay
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            }
        });
    });
    </script>
    

</body>
</html>
