<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GalaxyMusic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear_producto' %}">Crear Producto</a> <!-- Enlace a la página de creación de productos -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                </li>
                </li>
                {% if user.is_anonymous %}
                <li><a class="nav-link" href="{% url 'mostrar_entrar' %}">Entrar</a></li>
                {% endif %}
                <li><a class="nav-link" href="{% url 'mostrar_registro' %}">Registro</a></li>
                {% if user.is_authenticated %}
                <li><a class="nav-link"  href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Fin Navbar -->

<!-- Form -->
    <div class="container">
        <div class="row justify-content-center">
            <form method="POST">
              {% csrf_token %}
              <input type="checkbox" id="check">
              <div class="login form">
                <br>
                <header class="loginheader">Registro</header>
                <br>
                <div class="form-floating">
                  {{ formulario.username.label }}
                  {{ formulario.username }}
                </div>
                <div class="form-floating">
                  {{ formulario.first_name.label }}
                  {{ formulario.first_name }}
                </div>
                <div class="form-floating">
                  {{ formulario.last_name.label }}
                  {{ formulario.last_name }}
                </div>
                <div class="form-floating">
                  {{ formulario.email.label }}
                  {{ formulario.email }}
                </div>
                <div class="form-floating">
                  {{ formulario.password1.label }}
                  {{ formulario.password1 }}
                </div>
                <div class="form-floating">
                  {{ formulario.password2.label }}
                  {{ formulario.password2 }}
                </div>
                <button class="w-100 btn btn-dark" type="submit">Registrar</button>
                <div class="signup">
                  {% if user.is_anonymous %}
                  <span class="signup">¿Ya tienes una cuenta?
                      <a href="{% url 'mostrar_entrar' %}">Inicia Sesión</a>
                  </span>
                  {% endif %}
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
</html>