{% load static %}
<style>
  .color{
    color: white !important;
  }
  .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 60px;
  height: 45px;
}

.logo-text {
  font-size: 20px;
  margin-left: 10px;
}

/* Estilos adicionales para el resto del navbar */

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
<header>
    <nav class="navbar">
          <a href="{% static 'img/logo.png' %}">
            <img class="logo-icon" src="{% static 'img/logo.png' %}" alt="Logo">
          </a>
          <span class="logo-text"></span>
      <input type="checkbox" id="menu-toggler">
      <label for="menu-toggler" id="hamburger-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z"/>
        </svg>
      </label>
      <ul class="all-links color">
        <li><a href="{% url 'mostrar_principal' %}">Inicio</a></li>
        <li><a href="{% url 'mostrar_productos' %}">Productos</a></li>
        <li>
          <a href="{% url 'mostrar_carrito' %}">
            <i class="fas fa-shopping-cart"></i> Carrito
          </a>
        </li>
        {% if user.is_superuser %}
        <li><a href="{% url 'agregar_producto' %}">Agregar Productos</a></li>
        {% endif %}

        {% if user.is_anonymous %}
        <li><a class="color" href="{% url 'mostrar_entrar' %}">Entrar</a></li>
        {% endif %}
        <li><a class="color" href="{% url 'mostrar_registro' %}">Registro</a></li>
        {% if user.is_authenticated %}
        <li><a class="color"  href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a></li>
        {% endif %}
       

        
      </ul>
    </nav>
  </header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-..." crossorigin="anonymous"></script>
<script src="{% static 'js/carrito.js' %}"></script>