{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<style>
  .boleta-container {
    max-width: 100%; /* Ancho máximo ajustado */
    background-color: #fff; /* Fondo blanco */
    border: 2px solid #000; /* Borde sólido negro */
    border-radius: 5px; /* Borde redondeado */
    padding: 20px; /* Relleno interno */
    margin: 20px auto; /* Margen superior e inferior automático, centrado horizontalmente */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra ligera */
  }

  .boleta {
    margin: 0;
  }

  .boleta h3, .boleta h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
  }

  .boleta p {
    margin: 0;
    font-size: 1em;
    color: black;
  }

  .boleta hr {
    border: 1px dashed #000;
    margin: 10px 0;
  }

  .boleta .table {
    margin-bottom: 10px;
    width: 100%;
  }

  .boleta .table thead th {
    border-bottom: 2px solid #000;
    text-align: center;
    color: black;
  }

  .boleta .table tbody tr td {
    text-align: right;
    color: black;
  }

  .boleta .text-right {
    text-align: right;
    color: black;
  }

  .boleta .details {
    width: 100%;
  }

  @media (min-width: 768px) {
    .boleta-container {
      max-width: 70%;
    }
  }
</style>
{% endblock %}

{% block title %}
GalaxyMusic | Pago
{% endblock %}

{% block body %}
<div class="container">
  <h1 class="mt-5 mb-4">Realizar Pago</h1>
  {% if boleta %}
    <div class="boleta-container">
      <div class="boleta">
        <h3 class="text-center">GalaxyMusic</h3>
        <p><strong>RUT:</strong> 20992876-2</p>
        <p><strong>DIRECCIÓN:</strong> Freire 862, 8071189 San Bernardo, Región Metropolitana</p>
        <p><strong>GIRO:</strong> GalaxyMusic</p>
        <p><strong>TELÉFONO:</strong> 987231921</p>
        <h4 class="text-center">BOLETA ELECTRÓNICA N° 1</h4>
        <p class="text-center">S.I.I. VALPARAISO</p>
        <p class="text-center">FECHA EMISIÓN: {{ boleta.fecha_emision }}</p>
        <p><strong>Medio de Pago:</strong> Débito</p>
        <hr>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>CÓDIGO</th>
              <th>DESCRIPCIÓN</th>
              <th>VALOR</th>
              <th>DESC.</th>
            </tr>
          </thead>
          <tbody>
            {% for item in boleta.items %}
            <tr>
              <td>{{ item.codigo }}</td>
              <td>{{ item.producto.nombre }}</td>
              <td>{{ item.producto.precio }}</td>
              <td>{{ item.descuento }}</td>
            </tr>
            <tr>
              <td colspan="4">{{ item.cantidad }} Und x $ {{ item.producto.precio }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p class="text-right"><strong>SUB TOTAL:</strong> $ {{ subtotal }}</p>
        <p class="text-right"><strong>TOTAL:</strong> $ {{ total }}</p>
        <hr>
        <p class="text-center">Timbre Electrónico SII</p>
      </div>
    </div>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {{ formulario_pago.as_p }}
      <button type="submit" class="btn btn-primary">Pagar</button>
    </form>
  {% endif %}
</div>
{% endblock %}
